body {
    background-color: rgb(0,0,0);
    color: rgb(0,0,0);
    font-family: 'Pacifico', cursive;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}